* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(/image/bg.jpg);
    background-position: center;
    background-size: cover;
}
.navbar-space {
    padding-top: 45px;
}
.navbar{
    width: 1300px;
    height: 7vh;
    background-color: black;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.navbar table tr td {
    padding-left: 50px;
    cursor: pointer;
}
.sliding-image {
    width: 1300px;
    height: 92vh;
    margin-left: 100px;
}
.slide-detail {
    width: 1300px;
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #00c4fc;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    display: flex;
}
.slide-detail h4 {
    font-size: 15px;
    padding-right: 40px;
}

.slide-detail p {
    padding: 5px 50px;
    border: 2px solid white;
    cursor: pointer;
}
.section-1 {
    width: 1300px;
    height: 40vh;
    margin-left: 100px;
    text-align: center;
    padding-top: 90px;
    background-color: white;
}
.section-1 h3 {
    font-size: 30px;
    font-weight: bolder;
}
.section-2 {
    width: 1300px;
    height: 90vh;
    margin-left: 100px;
    text-align: center;
    display: flex;
    background-color: white;
    color: black;
    padding-top: 60px;
}
.section-2 h6 {
    background-color: #00c4fc;
    color: white;
    height: 5vh;
    text-align: left;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px ;
    padding-top: 10px;
    border-left: 2px solid black;
}
.section-2 p {
    font-size: 15px;
    margin-left: 30px;
    color: gray;
    text-align: left;
    padding-top: 15px;
}
.section-2__abc {
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-2__abc p {
    background-color: #00c4fc;
    color: white;
    padding: 12px 80px;
    margin-left: 20px;
    border: 2px solid white;
    cursor: pointer;
}
.section-2 .section__2__image {
    width: 100%;
    height: 30vh;
}
.section-3 {
    width: 1300px;
    height: 35vh;
    margin-left: 100px;
    text-align: center;
    display: flex;
    background-color: white;
    color: black;
    padding-top: 60px;
}
.section-3 h4 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    padding-left: 40px;
}
.section-3 .image-section-3 {
    display: flex;
    width: 100%;
    height: 20vh;
    padding-right: 120px;
}
.image-section-3 img {
    width: 100%;
    height: 18vh;
    
}
.section-3 .section-3__p {
    font-size: 17px;
    color: gray;
    border-left: 2px solid black;
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
}
.footer {
    width: 1300px;
    height: 45vh;
    margin-left: 100px;
    text-align: center;
    display: flex;
    background-color: rgb(23, 22, 22);
    color: white;
    padding-top: 60px;
}
.footer-1 h4 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 30px;
}
.footer-1 p {
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
}
.footer-1 img {
    padding-top: 20px;
    padding-right: 100px;
    width: 90%;
}
.footer-2 {
    text-align: left;
    padding-left: 90px;
}
.footer-2 h6 {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.footer-3 {
    text-align: left;
    padding-left: 90px;
}
.footer-3 h6 {
    padding-bottom: 30px;
}
.footer-3 span {
    color: #00c4fc;
}
.copyright{
    width: 1300px;
    height: 8vh;
    margin-left: 100px;
    text-align: center;
    background-color: #00c4fc;
    color: white;
    font-size: 14px;
    padding-top: 20px;
}